* {
    box-sizing: border-box;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    display: block;
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Lớn hơn 700px: 4 ảnh trên một dòng */
.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

/* Nhỏ hơn 700px: 2 ảnh trên một dòng */
@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

/* Nhỏ hơn 500px: 1 ảnh trên một dòng */
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.note {
    padding: 6px;
}
