@use "../abstracts" as *;

// ===== Form =====
.md-form {
  input:focus:not([readonly]) {
    border-bottom: 1px solid $brand !important;
    box-shadow: 0 1px 0 0 $brand !important;
  }

  input:focus:not([readonly]) + label,
  .prefix.active {
    color: $brand !important;
  }
}

.was-validated .md-form input:invalid ~ .invalid-feedback {
  display: block;
}
